
<ion-content padding>

    <ion-list>
        <ion-item-sliding  *ngFor="let program of programs | async" >
          <ion-item >
              
              <p>Name: </p>{{program.title}}
              <p>Key: </p>{{program.key}}
           
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="primary" (click)="edit(program)">
              <ion-icon name="text"></ion-icon>
              Text
            </button>
            <button ion-button color="danger" (click)="workout(program)">
                <ion-icon name="text"></ion-icon>
                Text
              </button>
           
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="primary" (click)="edit(program)">
              <ion-icon name="text"></ion-icon>
              Email
            </button>
            <button ion-button color="danger" (click)="workout(program)">
                <ion-icon name="text"></ion-icon>
                Text
              </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

<div style="position: absolute; left: 28% ; bottom: 5%; width: 100%" >
<button ion-button icon-left (click)="newProgram()">
  <ion-icon name="add"> </ion-icon>
   New Program
</button>
</div>

</ion-content>