page-program {
    .container {
        display: flex; /* or inline-flex */
      }
      .container {
        flex-direction: row ;
      }
      
      .flex-container {
        display: flex;
        background-color: rgb(198, 221, 245);
      }
      .exCard {
        flex-basis: 50% 
      }
      

}
