page-program {
    .container {
        display: flex; /* or inline-flex */
        flex-direction: row ;
      }
     
      
      .flex-container {
        display: flex;
        background-color: rgb(198, 221, 245);
      }
      .exCard {
        flex-basis: 50% 
      }
      .exButtons {
        flex-basis: 50%;
        flex-direction: column;
      
      }
      .exButtons .top{
        padding-top: 10%;
        padding-bottom: 10%
      }
      .exButtons .bot{
        padding-top: 10%;
        padding-bottom: 10%
      }
      
      

}
