<!--
  Generated template for the ProgramPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>program</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="flex-container" > 
      <div class="exCard">
        <ion-list  [dragula]='"my-bag"' [dragulaModel]="program" >  
          <ion-card  *ngFor="let exercise of program">
             <ion-item>
                {{exercise.name}}:
              
                {{exercise.type}}
              </ion-item>
          </ion-card>
        </ion-list>
      </div>
      
      <div class="exButtons">
          <div class="top" ><button (click)="addToPrograms(monday)" ion-button color="secondary">Add to programs</button></div>

          <div class="bot">  <button (click)="deleteProgram()" ion-button color="danger">Delete program</button></div>

        
      </div>
    </div>
    


    <ion-item>
        <ion-label>Exercise</ion-label>
        <ion-select [(ngModel)]="ex">
          <ion-option *ngFor="let ex of exercises" [value]="ex">{{ex.name}}</ion-option>
        </ion-select>
    </ion-item>
    <button (click)="addToProgram(ex)" ion-button>Add to program</button>
    <ion-item>
      <ion-label color="primary" floating>new exercise</ion-label>
      <ion-input [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" floating>Type</ion-label>
        <ion-select [(ngModel)]="type">
            
            <ion-option *ngFor="let type of types" [value]="type">{{type}}</ion-option>
          </ion-select>
    </ion-item>
        <button (click)="addToExercises()" ion-button>Add to exercises</button>

</ion-content>
