<!-- Generated template for the GraphComponent component -->
<ion-content padding>
    <div class="row">
      <div class="col-md-6">
          
   
        <div style="display: block; overflow:scroll; width:100vw; ">
          
          <canvas baseChart width="420vw" height="500vw" 
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"
                    ></canvas>
                    
                  
         
        </div>
        <ion-grid>
            <ion-row>
              <ion-col>
                <button ion-button color="primary" (click)="toggleDistribution()">asdasd</button>
              </ion-col>
              <ion-col>
                2 of 3
              </ion-col>
              <ion-col>
                3 of 3
              </ion-col>
            </ion-row>
          </ion-grid>

 
     



      </div>
    </div>
  </ion-content>