<div class="flex-container" > 
    <div class="exButtons">
        <div class="top" >
          
          <button (click)="addToPrograms()" ion-button color="secondary">Add to programs</button></div>
  
        <div class="bot">  <button (click)="deleteProgram()" ion-button color="danger">Delete program</button></div>
  
      
    </div>
  <div class="exCard">
    <ion-list  [dragula]='"my-bag"' [dragulaModel]="programList" >  
      <ion-card  *ngFor="let exercise of programList">
         <ion-item>
            {{exercise.name}}:
          
            {{exercise.type}}
          </ion-item>
      </ion-card>
    </ion-list>
  </div>
  
 
</div>



<ion-item>
  <ion-label color="primary" floating>new exercise</ion-label>
  <ion-input [(ngModel)]="title"></ion-input>
</ion-item>
<ion-item>
    <ion-label color="primary" floating>Type</ion-label>
    <ion-select [(ngModel)]="type">
        
        <ion-option *ngFor="let type of types" [value]="type">{{type}}</ion-option>
      </ion-select>
</ion-item>
    <button (click)="addToExercises()" ion-button>Add to exercises</button>

  
      <ion-list>
          <ion-item-sliding *ngFor="let ex of exercises">
            <ion-item >
                {{ex.name}}
             
            </ion-item>
            <ion-item-options side="left">
              <button ion-button color="primary" (click)="addToProgram(ex)">
                <ion-icon name="text"></ion-icon>
                Text
              </button>
             
            </ion-item-options>
            <ion-item-options side="right">
              <button ion-button color="primary" (click)="addToProgram(ex)">
                <ion-icon name="text"></ion-icon>
                Email
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>